/* Make a clickable highscore button in the top right corner (absolute) */
/* When you click on the Highscore button there is a hand that hovers over */

/* Timer will be on the top right corner */

/* Main content will be centered in the middle of the page */
:root {
    /* button border and backgound */
    --darkgrey:rgb(82, 80, 80);
    --yellow:rgb(211, 185, 69);


}
* {
    box-sizing: border-box;
    font-family: Comic Sans MS;
}

.highscore {
    position: absolute;
    left: 3px;
    font-size: larger;
    margin-top: 15px;
    }

.highscore a {
    color:black;
    text-decoration: none;
    margin: 20px;
}
header {
    display: flex;
}

.timer {
    position: absolute;
    right: 0;
    margin: 20px;
    font-size: larger;
}

main {
    margin: 0 auto;
    border: black solid 6px;
    position: relative;
    top: 101px;
    width: 50%;
    height: 380px;
    border-radius: 10px;
    background-color: var(--yellow);
}





